.item-list {
  width: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;

  .item-search {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;

    .search-input {
      flex-basis: 75%;
      border-radius: 32px;
    }
  }
}

// xs
@media only screen and (max-width: 576px) {
  .item-list .item-search .search-input {
    flex-basis: 50%;
  }
}

// sm
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .item-list .item-search .search-input {
    flex-basis: 60%;
  }
}
